:root {
  --vp-layout-max-width: 1680px;
  --vp-c-indigo-1: var(--vp-c-green-1);
  --vp-c-indigo-2: var(--vp-c-green-2);
  --vp-c-indigo-3: var(--vp-c-green-3);
}

.VPDoc.has-aside .content-container {
  max-width: none !important;
}

.demo-container {
  button {
    padding: 3px 15px;
    background-color: var(--vp-c-brand);
    border: none;
    outline: none;
    color: #fff;
    margin-right: 0.5em;
    border-radius: 4px;
    font-size: 14px;
    box-sizing: border-box;
    vertical-align: middle;
    &:hover {
      background-color: var(--vp-c-brand-2);
    }
    &:nth-last-child {
      margin-right: 0.5em;
    }
  }
}
