:root {
  --vp-layout-max-width: 1680px;
  --vp-c-brand-1: #52b783;
  --vp-c-indigo-1: var(--vp-c-green-1);
  --vp-c-indigo-2: var(--vp-c-green-2);
  --vp-c-indigo-3: var(--vp-c-green-3);
}

.VPDoc.has-aside .content-container {
  max-width: none !important;
}
